@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
  font-family: "Onest", sans-serif;
}

.hero{
  background-image: url('/public/hero.png');
  background-position: center;
  background-size: cover;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 40s linear infinite;
}

@keyframes spin-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.animate-spin-reverse {
  animation: spin-reverse 40s linear infinite;
}